*.pyc
*.pyo
_trial_temp/
test.test_*/
test/ldif/webtests.tmp
docs/*.png
anyldap.egg-info
.idea
.coverage
.coverage.*
venv/
build/
dist/
.cache
tags
.tox/
.venv/

# slapd instances the interop tests start
python-ldap-test-*/
